body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding-left: 3%;
    margin-bottom: 10px;
}

.word-colour {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.button-link {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5%;
}

.dream-big {
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}