body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container {
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding-left: 3%;
    margin-bottom: 10px;
}

.word-colour {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.button-link {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5%;
}

.dream-big {
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expariance-area {
    background-image: url(pictures/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.new-cla {
    display: flex;
    padding-left: 0%;
    margin-bottom: 10px;
}

.experiance-item {
    width: 60%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 100px;
}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-web {
    border-left: 7px solid blue;
}

#foot {
    text-align: center;
    font-weight: 700;
    margin-bottom: 100px;
}